{% extends "base.html" %}


{% block content %}

    {% if fullname %}
    <h3>You account information is listed as below.</h3>
    <h4>user name: {{fullname}}</h4>
    <p style="font-size:15pt">Edit your information.</p>
    <hr>
    <p> <a style="font-family: times;font-size:15pt; color: black;" href="/accounts/logout">Logout.</a> </p>
    {% else %}
    {% if form.errors %}
        <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}

    <form action="/accounts/auth/" method="post" style="text-align:center">{% csrf_token %}
        <div style="font-size:20px"><label for="username">User name:</label>
        <input type="text" name="username" value="" id="username"></div>
        <div style="font-size:20px"><label for="password">Password:</label>
        <input type="password" name="password" value="" id="password"> </div>

        <input type="submit" value="login"> 

    </form>

    <p style="font-size:20px;text-align:center"> <a href="/accounts/register/">New user</a></p>
    <!--<p class="general"><a href="/articles/all_beamlines/" style="color:white;font-size:15px">Anonymity</a></p>-->
    {% endif %}    
{% endblock %}



