{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tool Menu</title>
    <script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
	<script src="{% static "js/jquery.cookie.js" %}" type="text/javascript"></script>
	<link rel="stylesheet" href="{% static "css/jquery.treeview.css" %}">
	<link rel="stylesheet" href="{% static "css/panel.css" %}">
	<script src="{% static "js/jquery.treeview.js" %}" type="text/javascript"></script>
	<script> 
	    $(document).ready(function(){
	        $("#tree").treeview({
	            collapsed: true,
	            animated: "fast",
	            persist: "cookie",
	        });
	        var viewportWidth = document.documentElement.clientWidth;
	        var viewportHeight = document.documentElement.clientHeight;
	       	window.resizeTo(viewportWidth, viewportHeight);
	    });
	</script>
	<style type="text/css">
		#search
		{	
			background-color: white;
			border-width: 0;       
			width: 125px;
			height: 18px;
			overflow: hidden; /* Clear floats */
			float:left;
		}
	</style>
</head>


<body>

<div style="text-align:left;width:100%">
<form style="padding:0 30px" id="searchbox" action="">
	<input id="search" type="text" placeholder="Search tools">
	<input id="submit" type="submit" value="Search">
</form>
{% autoescape off %}{{ menu }}{% endautoescape %}
</div>
</body>
</html>




