{% extends "menu_base.html" %}
{% load static %}

{% block content %}
<p>Job has been scheduled to run.
Please{{hi}} look at the history for results
</p>

<div align="center">
    <h2> Results and Images </h2>
    <p><img src="/static/images/{{output}}" width="350" height="350" align="center"></p>
    <p> <a href="/static/images/{{output}}">Download Images</a>
</div>

{% endblock %}



{% block rightbar %}
<h2 id="right_panel1" align="center" style="color:green">History</h2>
<div id="right_panel2">
    {% autoescape off %}{{ history }}{% endautoescape %}
</div>
{% endblock %}
