{% extends "menu_base.html" %}
{% load static %}

{% block content %}
<form action="" method="post" 
	{% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
<ul>
    <h2>{{form.as_ul}}</h2>
    <input size="30" type="submit" name="submit" value="Execute"/>
</ul>
</form>
{% endblock %}


{% block rightbar %}
<h2 id="right_panel1" align="center" style="color:green">History</h2>
<div id="right_panel2">
    {% autoescape off %}{{ history }}{% endautoescape %}
</div>
{% endblock %}
