{% extends "frame_base.html" %}
{% load static %}


 {% block content %}
	<div class="caption">About the National Synchrotron Light Source II </div>
    
    <p>Though the current NSLS has been continually updated since its commissioning in 1982, 
    today the practical limits of machine performance have been reached. Meeting the critical 
    scientific challenges of our energy future will require advanced new capabilities that 
    NSLS-II will uniquely provide.</p>
	<br>
    <p>NSLS-II will be a new state-of-the-art, medium-energy electron storage ring (3 billion 
    electron-volts) designed to deliver world-leading intensity and brightness, and will 
    produce x-rays more than 10,000 times brighter than the current NSLS. The superlative 
    character and combination of capabilities will have broad impact on a wide range of 
    disciplines and scientific initiatives, including the National Institutes of Health, structural 
    genomics initiative, DOE, Genomics GTL
    initiative, and the federal nanoscience initiative.</p>
	<br>
    <p>The facility will be a key resource for researchers at Brookhaven, Center for Functional 
    Nanomaterials, allowing for analysis of new materials that are expected to transform the 
    nation, energy future. Construction of the NSLS-II ring building began in March 2009. 
    If plans are carried through as proposed, the new facility will begin operating in 2015.</p>
	<br>

	<img src="{% static "images/nslsii.jpg" %}" width=432px>
{% endblock %}


