{% extends "base.html" %}

{% block sidebar %}
<ul>
    <li><a href="/articles/all_functions">Home</a></li>
    <li><a href="/articles/all">Differential Phase Contrast Imaging</a></li>
    <li><a href="/articles/create">Create a new fitting Job</a></li>
</ul>
{% endblock %}


{% block content %}


{% for article in articles %}
<div>
    <h2><a href="/articles/get/{{ article.id }}/">{{ article.title }}</a></h2>
    <p>{{ article.body }}</p>
    <!-- <p>{{ article.likes }} people liked this analysis</a></p> -->
</div>
{% endfor %}


{% endblock %}
